body{
    background-image: url('assets/pictures/hotel-wallpaper-black.png');
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
 #bioContentCol{
     color:white;
     margin-top:6rem;
 }
 #body{

 }

