body{
    background-image: url('../pictures/hotel-wallpaper-black.png');
    font-family: 'Alata', sans-serif;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
 #bioContentCol{
     color:white;
     
     background-color: rgba(0,0,0,.5);
     padding:3px;
 }

 .portfolioPictures{
     height:200px;
      max-width: 300px; 
     width: 100%;
    object-fit: cover;
 }

 #portfolioHeader{
     color:white;
     margin-bottom:30px;
     margin-left: 10px;
 }
 #aboutHeader{
     color:white;
     margin-left:10px;
 }
 #portfolioContent{
    margin-left:10px;
 }
 .contentContainer{
    background-color: rgba(0,0,0,.5);
    margin-top:6rem;

 }

 .portfolioLinks{
     text-decoration: none;
     color:white;
     text-align:center
 }
 .portfolioLinks:hover{
    text-decoration: none;
    color:white;
   
}
.portfolioColumns{
    margin-bottom:20px;
}

#aboutBody{
    margin-top:20px;
    margin-left:10px;
    font-size:20px;
}

.inputNames{
    color:white;
}

.contactContent{
    padding:15px;
}

.footer{
    width:100%;
    height: 3%;
    background-color:#343a40;
    text-align:center;
}

.footerText{
    color:white;
    bottom:0px;
}
